<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Improofment</title>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <table>
                <tr>
                    <td class="arrows">
                        {% block back %}
                        {% endblock %}
                    </td>
                    <td> 
                        <h1 id="blog-name">Improofment</h1>
                    </td>
                    <td class="arrows">
                        {% block forward %}
                        {% endblock %}
                    </td>
                </tr>
            </table>
            <div></div>
        </header>
        <div id="wrapper">
            {% block body %}
            {% endblock %}
        </div>

        <div id="up-btn">

        </div>
    </body>
</html>
