* {
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Helvetica Neue,sans-serif,Arial;
    letter-spacing: 0;
    text-decoration: none;
    color: #2E2E2E;
    margin: 0px;
}

/* Header */
header {
    width: 100%;
    height: 10%;
    top: 0;
    position: sticky;
    background-color: #FFFFFF;
}
header div {
    background-image: linear-gradient(90deg, #3023AE 0%, #53A0FD 48%, #B4EC51 100%);
    height: 4px;
    width: 100%;
}
header table {
    width: 40%;
    min-width: 450px;
    margin-right: auto;
    margin-left: auto;
}
@keyframes shrink {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0.7);
    }
    100% {
        transform: scaleY(1);
    }
}
header .arrows {
    width: 50px;
}
header .arrows:hover {
    animation: 0.75s ease-out 0s 1 shrink;
}
header #blog-name {
    font-family: JosefinSans-Thin_Bold;
    font-size: 48px;
    text-align: center;
    padding: 24px 0px;
}
header img {
    height: 50px;
}

/* Content */
#wrapper {
    width: 40%;
    min-width: 450px;
    margin-right: auto;
    margin-left: auto;
}

/* Home Page */
#welcome-text {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.post-thumbnail {
    background: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    height: 94px;
    position: relative;
    margin-bottom: 23px;
}
.post-thumbnail-foreground {
    height: 89px;
}
@keyframes shake {
    0% {
        transform: transformY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}
.post-thumbnail-foreground:hover > .thumbnail-shadow {
    animation: 0.75s ease-out 0s 1 shake;
}
.thumbnail-post-preview {
    float: left;
    width: 80%;
}
.thumbnail-read-time {
    float: right;
    width: 10%;
    height: inherit;
    font-size: 14px;
    text-align: center;
    margin-right: 13px;
    display: table;
}
.thumbnail-read-time p {
    display: table-cell;
    vertical-align: middle;
}
.thumbnail-read-time .minutes {
    font-size: 20px;
}
.thumbnail-title {
    font-size: 24px;
    margin-top: 9px;
    margin-left: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 2.4em;
}
.thumbnail-preview {
    font-size: 18px;
    color: #9B9B9B;
    margin-left: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 2.4em;
}
.thumbnail-shadow {
    background-image: linear-gradient(90deg, #3023AE 0%, #53A0FD 48%, #B4EC51 100%);
    border-radius: 10px;
    z-index: -1;
    position: absolute;
    top: 5px;
    width: 100%;
    height: 94px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
#no-more-posts {
    font-size: 36px;
    color: #9B9B9B;
    text-align: center;
    margin-top: 50px;
}

/* Post */
#post-title {
    font-size: 36px;
    margin: 20px 0px;
}
.post-info {
    width: 100%;
    height: 60px;
    display: table;
}
.author-date {
    float: left;
    width: 80%;
}
#author-img {
    border-radius: 50%;
    width: 56px;
    height: auto;
}
#author {
    font-size: 22px;
}
#date {
    font-size: 18px;
}
#read-time {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.post-info #read-time p b {
    float: right;
    padding: 2px;
    max-width: 100px;
    min-width: 50px;
    font-size: 18px;
    color: #FFFFFF;
    background-image: linear-gradient(-180deg, #0A00FF 0%, #00D0FF 100%);
    border-radius: 50px / 50px;
    padding: 5px;
    text-align: center;
}
#post {
    margin-top: 29px;
    font-size: calc(1.0625px * var(--rem));
    line-height: 28px;
    width: 100%;
}
#post h1 {
    
    margin-top: 28px;
    margin-bottom: 7px;
}
#post h2 {
    
    margin-top: 14px;
    margin-bottom: 7px;
}
#post h3 {
    font-size: 20px;
    margin-top: 14px;
    margin-bottom: 7px;
}
.post-image {
    width: auto;
    height: auto;
    max-width: 90%;
    display: block;
    margin: 50px auto;
}